
*.csproj
Mobile Device App Tutorial/Library/metadata/
Mobile Device App Tutorial/obj/
Mobile Device App Tutorial/Library/
Mobile Device App Tutorial/.vs/
Mobile Device App Tutorial/ProjectSettings/
Advertising Services/Library/